### <font color =#000000>Load data </font>

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
keys=['age','workclass','fnlwgt','education','education-num',
     'marital-status','occupation','relationship','race','sex',
     'capital-gain','capital-loss','hours-per-week','native-country',
     'income']

data =pd.read_csv("adult.csv",header=None,names =keys)
data.head()
df = data[['age','sex','hours-per-week','education','income']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 5 columns):
age               32561 non-null int64
sex               32561 non-null object
hours-per-week    32561 non-null int64
education         32561 non-null object
income            32561 non-null object
dtypes: int64(2), object(3)
memory usage: 1.2+ MB

In [9]:
df.describe()

                age  hours-per-week
count  32561.000000    32561.000000
mean      38.581647       40.437456
std       13.640433       12.347429
min       17.000000        1.000000
25%       28.000000       40.000000
50%       37.000000       40.000000
75%       48.000000       45.000000
max       90.000000       99.000000

In [10]:
df.head()

   age      sex  hours-per-week   education  income
0   39     Male              40   Bachelors   <=50K
1   50     Male              13   Bachelors   <=50K
2   38     Male              40     HS-grad   <=50K
3   53     Male              40        11th   <=50K
4   28   Female              40   Bachelors   <=50K

In [11]:
#會有錯因為資料是文字
from sklearn.tree import DecisionTreeClassifier

X = df.iloc[:,:-1].values
y=df.iloc[:,-1].values

tree = DecisionTreeClassifier(criterion = 'gini',random_state=1,max_depth=5)
#tree.fit(X,y)
#print('score:',tree.score(X,y))

In [12]:
X

array([[39, ' Male', 40, ' Bachelors'],
       [50, ' Male', 13, ' Bachelors'],
       [38, ' Male', 40, ' HS-grad'],
       ...,
       [58, ' Female', 40, ' HS-grad'],
       [22, ' Male', 20, ' HS-grad'],
       [52, ' Female', 40, ' HS-grad']], dtype=object)

In [13]:
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [14]:
from sklearn.tree import DecisionTreeClassifier
data_dummies = pd.get_dummies(df,drop_first =True) #False時把sex_Male, income_ <=50K ,education_ 10th 同column裡面的第一個   

data_dummies.info()     #dummies 把類別轉成數字(one-hot encoding，5個到19個)
X=data_dummies.iloc[:,:-1].values
y=data_dummies.iloc[:,-1].values

tree = DecisionTreeClassifier(criterion = 'gini',random_state=1,max_depth=5)
tree.fit(X,y)
print('score:',tree.score(X,y))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 19 columns):
age                        32561 non-null int64
hours-per-week             32561 non-null int64
sex_ Male                  32561 non-null uint8
education_ 11th            32561 non-null uint8
education_ 12th            32561 non-null uint8
education_ 1st-4th         32561 non-null uint8
education_ 5th-6th         32561 non-null uint8
education_ 7th-8th         32561 non-null uint8
education_ 9th             32561 non-null uint8
education_ Assoc-acdm      32561 non-null uint8
education_ Assoc-voc       32561 non-null uint8
education_ Bachelors       32561 non-null uint8
education_ Doctorate       32561 non-null uint8
education_ HS-grad         32561 non-null uint8
education_ Masters         32561 non-null uint8
education_ Preschool       32561 non-null uint8
education_ Prof-school     32561 non-null uint8
education_ Some-college    32561 non-null uint8
income_ >50K               32561 non-null uint8
dtypes: int64(2), uint8(17)
memory usage: 1.0 MB
score: 0.7876907957372317